@import '../../Global'

.ContainerAbout
    position: relative
    background-color: $P_White
    width: 100%
    min-height: 100vh
    padding: 0
    // overflow: hidden
    display: flex
    justify-content: center
    align-items: center
    background-color: $P_Black
    @media screen and (max-width: 800px)
        flex-direction: column
    .TitleOne        
        position: absolute
        display: flex
        width: 100%
        height: 100% 
        // border: 1px solid red
        .Title
            // border: 1px solid green
            width: 100%
            top: 0            
            .TitleBackground       
                overflow: hidden
                color: $P_SoftGray                           
    .Text
        width: 40%
        // border: 1px solid red
        color: $P_White
        z-index: 1
        position: relative
        h2                        
            font-size: 48px
            font-weight: 600
        @media screen and (max-width: 800px)
            width: 100%          
            padding: 30px
            h2
                font-size: 24px
    img
        z-index: 2
        margin-left: 100px
        border: 1px solid $gray-900
        width: 30%
        @media screen and (max-width: 800px)
            margin-left: 0
            width: 60%          

