@import './GlobalVars'

body
    &::-webkit-scrollbar
        width: 10px
        background-color: $F_Fondo        
    &::-webkit-scrollbar-thumb
        background-color: $gray-800
        opacity: 0.9
        border-radius: 5px
        cursor: pointer
    // overflow: scroll

.ContainerApp
    background-color: $F_Fondo
    // border: 1px solid red
    // width: 100vw    
    // height: 100vh
    // scroll-snap-type: mandatory
    // scroll-snap-points-y: repeat(100vh)
    // scroll-snap-type: y proximity
    // overflow-y: scroll 
    // overflow: scroll
    
    .Section        
        // scroll-snap-align: start end
        // scroll-snap-align: end
        // border: 1px solid purple  
